body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to allow content to expand */
    background-color: #CBE6EF;
    margin: 0; /* Remove default body margins */
}

#noButton {
    position: relative; /* No longer absolute */
    transition: 0.5s;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px; /* Consistent margins for buttons */
}

#yesButton {
    position: relative; /* No longer absolute */
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px; /* Consistent margins for buttons */
}

.header_text {
    font-family: 'Nunito';
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row; /* Default: side-by-side */
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    flex-wrap: wrap; /* Allow wrapping if necessary */
}

.madewithlove {
    padding-top: 5em;
    text-align: center;
}

.btn {
    background-color: #80c3d8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px; /* Consistent margins for buttons */
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Media Queries */

@media (max-width: 768px) { /* Tablets and Phones */
    .header_text {
        font-size: 30px;
    }

    .buttons {
        flex-direction: row; /* Keep buttons side by side */
        flex-wrap: wrap; /* Allow wrapping onto the next line */
        margin-top: 30px;
    }

    .btn {
        width: auto; /* Adjust as needed for button width */
        margin: 10px;
        padding: 10px 20px;
        font-size: 14px;
    }

    #yesButton, #noButton {
        width: auto; /* Adjust as needed for button width */
        margin: 10px;
    }

    .gif_container {
        margin-bottom: 20px;
    }

    .madewithlove {
        padding-top: 2em;
        font-size: smaller;
    }

    body {
        min-height: 100vh; /* Ensure it takes full viewport height */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center horizontally */
        justify-content: flex-start; /* Align content to the top */
    }
}


@media (max-width: 400px) { /* Smaller phones */
    .header_text {
        font-size: 24px;
    }

    .btn, #yesButton, #noButton {
        font-size: 12px; /* Smaller font on very small screens */
        padding: 8px 16px; /* Smaller padding */
    }
}