body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CBE6EF;
}

#noButton {
    position: absolute;
    transition: 0.5s;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#yesButton {
    position: absolute;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header_text {
    font-family: 'Nunito';
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.madewithlove {
    padding-top: 5em;
    text-align: center;
}

.btn {
    background-color: #80c3d8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* Media Queries */

@media (max-width: 768px) { /* Target tablets and smaller */
    .header_text {
        font-size: 30px; /* Smaller font size on mobile */
    }

    .buttons {
        flex-direction: column; /* Stack buttons vertically */
        margin-top: 30px; /* Adjust margin */
    }

    .btn {
        width: 100%; /* Full width buttons */
        margin: 10px 0; /* Adjust button spacing */
        padding: 10px 20px; /* Smaller padding */
        font-size: 14px;
    }

    #yesButton, #noButton {
        position: relative; /* No longer absolute */
        margin: 10px 0; /* Space between buttons */
        width: 100%; /* Button takes full width on smaller screens */
    }

    .gif_container {
        margin-bottom: 20px; /* Add space below GIF */
    }

    .madewithlove {
        padding-top: 2em; /* Adjust padding */
        font-size: smaller;
    }
}

@media (max-width: 400px) { /* Target smaller phones */
    .header_text {
        font-size: 24px; /* Even smaller font size */
    }
}